<!-- Incluir o head -->
<%- include('./partials/head') %> 
  <body>
    <h1 class="alert alert-primary"><span class="material-icons">campaign</span>Formulario de Cadrasto de Avisos</h1>

    <!-- Incluir -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <%- include('./partials/scripts_import') %> 
  </body>
  </html>
