<!-- Incluir o head -->
<%- include('./partials/head') %>

<body>
<!-- Menu -->
<%- include('./partials/navbar.ejs') %> 



  <!-- Incluir -->
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <%- include('./partials/scripts_import') %>
</body>

</html>